Package: nems-tools
Essential: yes
Priority: required
Section: main
Maintainer: NEMS Linux <nems@category5.tv>
Architecture: all
Version: 1.6.013
Provides: nems-tools
Description: NEMS Tools
Depends: nmap, jq
